.page {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-width: 360px;
  margin: 0 auto;
  font-family: "TT Firs Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
