.header__user-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 40px;
}

@media screen and (max-width: 1210px) {
  .header__user-actions {
    justify-content: flex-start;
    margin-right: 20px;
  }
}