@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/container/container.css);
@import url(./blocks/page/page.css);
/*header*/
@import url(./blocks/header/header.css);
@import url(./blocks/header/__container/header__container.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__bar-logo/header__bar-logo.css);
@import url(./blocks/header/__nav-bar/header__nav-bar.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__link-list/header__link-list.css);
@import url(./blocks/header/__list-item/header__list-item.css);
@import url(./blocks/header/__user-actions/header__user-actions.css);
@import url(./blocks/button/button.css);
@import url(./blocks/button/_place/button_place_header.css);
@import url(./blocks/button/_type/button_type_link.css);
@import url(./blocks/button/_type/button_type_filled.css);
@import url(./blocks/button/_type/button_type_burger.css);
@import url(./blocks/button/__icon/button__icon.css);
/*content*/
@import url(./blocks/content/content.css);
@import url(./blocks/content/__title/content__title.css);
@import url(./blocks/content/__subtitle/content__subtitle.css);
@import url(./blocks/content/__holder/content__holder.css);
@import url(./blocks/content/__container/content__container.css);
@import url(./blocks/content/__controls/content__controls.css);
@import url(./blocks/content/__control/content__control.css);

@import url(./blocks/participate/participate.css);
@import url(./blocks/question-block/question-block.css);
@import url(./blocks/question-block/__title/question-block__title.css);
@import url(./blocks/question-block/__number/question-block__number.css);
@import url(./blocks/question-block/__text/question-block__text.css);
/*footer*/
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__container/footer__container.css);
@import url(./blocks/footer/__icon/footer__icon.css);
@import url(./blocks/footer/__icons/footer__icons.css);
@import url(./blocks/footer/__image/footer__image.css);
@import url(./blocks/footer/__link/footer__link.css);
@import url(./blocks/footer/__links/footer__links.css);
@import url(./blocks/footer/__organizer/footer__organizer.css);
@import url(./blocks/footer/__partners/footer__partners.css);
@import url(./blocks/footer/__social/footer__social.css);
@import url(./blocks/footer/__title/footer__title.css);
@import url(./blocks/footer/__email/footer__email.css);
