.content__controls {
  padding: 0;
  margin: 32px 0 80px 0;
  display: flex;
  align-self: flex-end;
}

@media screen and (max-width: 980px) {
  .content__controls {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 32px 0 0;
    height: 84px;
    justify-content: space-around;
    background: #fcfaf7;
    box-shadow: 0px -8px 32px rgba(59, 55, 72, 0.12);
  }
}
