.button_type_link {
  color: rgba(59, 55, 72, 1);
  background: transparent;
  margin-right: 8px;
  transition: color .2s ease-in;
}

.button_type_link:hover {
  color: #5100B8;
}

.button_type_link:hover .button__icon {
  filter: brightness(0) saturate(100%) invert(17%) sepia(100%) saturate(3696%) hue-rotate(264deg) brightness(67%) contrast(131%);
}