.title {
    margin: 0 auto 0 40px;
    font-family: TT Firs Neue;
    font-size: 96px;
    font-style: normal;
    font-weight: 500;
    line-height: 96px;
    letter-spacing: -0.02em;
    text-align: left;
}

@media screen and (max-width: 767px) {
    .title {
        margin: 0 auto 0 20px;
        font-family: TT Firs Neue;
        font-size: 44px;
        font-style: normal;
        font-weight: 500;
        line-height: 44px;
        letter-spacing: 0px;
        text-align: left;
    }
}