.form__city-list {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url(../../../images/arrow_custom.svg) no-repeat right;
  background-color: #fff;
  background-position-x: calc(100% - 21px);
}