.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  background-color: rgba(255, 212, 0, 1);
  font-family: 'TT Firs Neue', Arial, sans-serif;
}

@media screen and (max-width: 1210px) {
  .header {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}