.form__input-container {
  padding: 12px 0 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  border: none;
gap: 12px;
}

@media screen and (max-width: 980px) {
  .form__input-container {
    padding: 0;
  }
}
