.form__input-container {
  padding: 12px 0 0;
  margin: 0;
  display: flex;
  gap: 12px;
  flex-direction: column;
  border: none;
}

@media screen and (max-width: 920px) {
  .form__input-container {
    padding: 26px 0 0;
    gap: 8px;
  }
}
