.content__title {
  padding: 40px;
  margin: 0;
  font-size: 96px;
  line-height: 96px;
  letter-spacing: -0.02em;
  font-weight: 500;
}

@media screen and (max-width: 980px) {
  .content__title {
    padding: 20px;
    font-size: 44px;
    line-height: 44px;
    letter-spacing: 0;
  }
}
