.footer__link {
  display: flex;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin: 0 0 24px 0 ;
  text-decoration: none;
  color: #3B3748;
  transition: 0.3s;
}

.footer__link::after {
  content: "";
  padding-left: 25px;
  width: 20px;
  height: 20px;
  background-image: url(../../../images/footer_link-after-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.footer__link:hover {
  opacity: 0.7;
}