.form-input {
  padding: 10px 22px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  border: 2px solid #96949e;
  border-radius: 25px;
  font-size: 18px;
  font-style: normal;
}

@media screen and (max-width: 980px) {
  .form-input {
    height: min-content;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 20px;
  }
}
