.subtitle {
    margin: 40px auto 24px 280px;
    font-family: TT Firs Neue;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: -0.01em;
    text-align: left;
}

@media screen and (max-width: 767px) {
    .subtitle {
        margin: 40px auto 20px 20px;
        font-family: TT Firs Neue;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 36px;
        letter-spacing: 0px;
        text-align: left;
        
    }
}