.form__select {
  display: none;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 0;
  background-color: #fff;
  box-shadow: 0 4px 12px rgb(59 55 72 / 12%);
  border-radius: 24px;
}
