.form__content {
  margin: 0 auto;
  width: max-content;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1210px) {
  .form__content {
    width: auto;
    margin: 0;
  }
}

@media screen and (max-width: 920px) {
  .form__content {
    height: calc(100vh - 72px);
    justify-content: space-between;
  }
}
