.form__content {
  margin: 0 auto 92px;
  width: max-content;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1210px) {
  .form__content {
    width: auto;
    margin: 0 0 20px;
  }
}

@media screen and (max-width: 980px) {
  .form__content {
    margin: 0;
    height: calc(100vh - 72px);
    justify-content: space-between;
  }
}
