.form__container_place_cafe {
  padding: 0;
  margin: 0 auto 80px;
  display: grid;
  grid-template-columns: minmax(min-content, 309px) minmax(min-content, 531px);
  column-gap: 40px;
  row-gap: 12px;
}

@media screen and (max-width: 920px) {
  .form__container_place_cafe {
    margin: 20px;
    display: flex;
    flex-direction: column;
  }
}
