.button {
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px 12px 24px;
  margin: 0;
  cursor: pointer;
  font-family: 'TT Firs Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  white-space: nowrap
}

@media screen and (max-width: 1210px) {
  .button {
    padding: 12px 20px 12px 20px;
    font-size: 16px;
    line-height: 24px;
  }
}