.form-input__control {
  width: 205px;
  align-self: center;
  justify-content: center;
  background-color: transparent;
}

@media screen and (max-width: 980px) {
  .form-input__control {
    width: 45%;
  }
}
